body {
    background-color: black;
    color: white;
    font-family: monospace;
}

.console {
    height: 80vh;
    overflow: auto;
    padding: 10px;
    border: 1px solid white;
}

.prompt {
    color: yellow;
}

.input {
    color: green;
    border: none;
    background-color: black;
    height: 20px;
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
    outline: none;
    caret-color: green;
}

.output {
    color: white;
    border: none;
    background-color: black;
    height: 60vh;
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: auto;
    resize: none;
    outline: none;
}